name: handwritten_recognition
description: Handwritten Pattern Recognition System
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  google_generative_ai: ^0.4.6
  image_picker: ^1.1.2
  provider: ^6.1.2
  flutter_animate: ^4.5.0
  share_plus: ^10.0.2
  permission_handler: ^11.3.1
  shared_preferences: ^2.3.2
  flutter_localizations:
    sdk: flutter
  intl: ^0.19.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true
  generate: true
